/* Reset Bulma */
.navbar-burger {
    margin-left: 0;
}
/* Fim Reset Bulma */

/* Menu */
.navbar {
    box-shadow: 0 0 5px #000;
}
.navbar-burger span {
    background-color: #015374;
    height: 3px;
}

.call-container-month {
    margin-left: 65%;
}
.call-container-month label[for='month'] {
    color: #015374;
    font-size: .8em;
    font-weight: normal;
    text-align: right;
    margin-top: 10%;
}
.call-container-month + span {
    margin: 3% 0 0 3%;
}
/* Fim Menu */

/* Main */
.container {
    max-width: 1280px;
}

main {
    width: 90%;
    margin: 2% auto 0;
}

/* Sistema de Chamados */
.call-title {
    color: #015374;
    border-bottom: 1px solid #015374;
    margin-bottom: 2%;
}

.call-panel > div:first-of-type {
    border: 1px solid #015374;
    border-radius: 5px;
}
.call-panel > div:first-of-type p:first-of-type {
    margin-top: 5%;
}
.call-panel > div:first-of-type p {
    color: #015374;
    display: block;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}
.call-panel > div:first-of-type p:last-of-type {
    margin-bottom: 5%;
}
.call-panel > div:first-of-type b {
    display: block;
    text-align: center;
    font-size: 6em;
    font-weight: 900;
    line-height: 1;
}

.call-indicators {
    color: #fff;
    margin: -4% 0 0 !important;
}
.call-indicators div:nth-of-type(1) {
    background-color: #015374;
    border-bottom-left-radius: 5px;
}
.call-indicators div:nth-of-type(2) {
    background-color: #AA4643;
    border-bottom-right-radius: 5px;
}
.call-indicators div p,
.call-indicators b {
    text-align: center;
}
.call-indicators b {
    display: block;
    font-size: 3em;
    line-height: 1;
}

.call-google-charts {
    width: 100%;
    min-height: 510px;
}
div.call-graphic-title.call-graphic-legend {
    position: relative;
    z-index: 1;
}
div.call-graphic-legend h3 {
    text-align: center;
}
div.call-graphic-legend h4 {
    text-align: center;
}
div.call-graphic-title .call-row-bottom {
    border-bottom: 1px solid #808080;
    padding-bottom: 2%;
}
div.call-graphic-legend > div:last-of-type {
    border: 1px solid #808080;
    border-radius: 10px;
    text-align: center;
    width: 35%;
    position: relative;
    z-index: 25;
    margin: -12% auto 6%;
}
div.call-graphic-legend > div:last-of-type p {
    display: inline-block;
    padding: 5px;
}
div.call-graphic-legend > div:last-of-type p:first-child:before,
div.call-graphic-legend > div:last-of-type p:last-child:before {
    content: 'legend';
    width: 30px;
    height: 20px;
    margin-right: 10px;
}
div.call-graphic-legend > div:last-of-type p:first-child:before {
    background-color: #015374;
    color: #015374;
}
div.call-graphic-legend > div:last-of-type p:last-child:before {
    background-color: #AA4643;
    color: #AA4643;
}
/* Fim Sistema de Chamados */

/* Qualidade do Atendimento */
.zc-ref {
    display: none !important;
}
#call-level-of-satisfaction-img,
#call-level-of-satisfaction-trigger-c,
#call-called-closed-img,
#call-called-closed-trigger-c,
#call-called-closure-region-img,
#call-called-closure-region-trigger-c {
    display: none !important;
}

.call-graphic-legend-zing-charts {
    text-align: center;
}
#call-quality-service-is-5,
#call-called-closed-is-5 {
    position: relative;
    z-index: 1;
}
#call-called-closed-is-5 {
    margin-top: 7%;
}
#call-quality-service-is-7,
#call-called-closed-is-7 {
    position: relative;
    margin-top: -20%;
    z-index: 25;
}
#call-zing-charts-quality-service,
#call-zing-charts-called-closed {
    position: absolute;
    top: 48%;
    left: 46%;
    color: #015374;
}
/* Fim Qualidade do Atendimento */

/* Chamados Fechados */
.call-closed {
    margin-top: 5%;
}
#call-top-10-is-12 {
    margin-top: 5%;
}
#call-closed-by-type-is-6 h3,
#call-closed-by-problem-is-6 h3,
#call-distribution-by-departments-is-6 h3,
#call-called-closure-region-is-6 h3 {
    font-size: 1.5em;
    text-align: center;
}
/* Fim Chamados Fechados */

/* Loading */
#call-loading-charts {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
    z-index: 9999;
}

.call-loader {
    position: relative;
    top: 40%;
    margin: auto;
    border-radius: 50%;
    border-top: 16px solid #00b5de;
    border-right: 16px solid #4e216c;
    border-bottom: 16px solid #80c342;
    border-left: 16px solid #f26729;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.call-loader-invisible {
    display: none;
}
/* Fim Loading */
/* Fim Main */

@media (min-width: 1024px) {
    /* Menu */
    .call-container-month {
        margin-left: 560%;
    }

    .call-container-month + span {
        margin: 22% 0 0 15%;
    }
    /* Fim Menu */

    /* Main */
    main {
        width: 80%;
    }

    /* Sistema de Chamados */
    .call-panel > div:first-of-type p:last-of-type {
        margin-bottom: 15%;
    }
    .call-indicators {
        margin: -7% 0 0 !important;
    }
    /* Fim Sistema de Chamados */

    /* Qualidade do Atendimento */
    #call-quality-service-is-7 {
        margin-top: 15%;
    }
    #call-called-closed-is-5 {
        margin-top: -10%;
    }
    .call-graphic-legend-zing-charts {
        margin-bottom: 0;
    }
    #call-called-closed-is-7 {
        margin-top: 4%;
    }
    #call-zing-charts-quality-service {
        left: 42%;
    }
    #call-zing-charts-called-closed {
        top: 45%;
        left: 42%;
    }
    #call-called-closed-is-5 > h4 {
        font-size: 1.5em;
    }

    #call-closed-by-type-is-6 h3,
    #call-closed-by-problem-is-6 h3,
    #call-distribution-by-departments-is-6 h3,
    #call-called-closure-region-is-6 h3 {
        text-align: left;
    }
    /* Fim Qualidade do Atendimento */

    /* Chamados Fechados */
    .call-container-closed {
        position: relative;
        z-index: 25;
        margin-top: -15%;
    }
    /* Fim Chamados Fechados */
    /* Fim Main */
}

@media (max-width: 1023px) {
    /* Menu */
    nav.navbar > div.navbar-brand,
    nav.navbar > div.navbar-menu {
        padding-top: 2%;
    }
    .navbar-burger span {
        width: 32px;
    }
    .navbar-burger span:nth-child(1) {
        top: calc(50% - 12px);
    }
    .navbar-burger span:nth-child(2) {
        top: calc(50% - 4px);
    }
    .navbar-burger.is-active span:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
    }
    /* Fim Menu */

    /* Sistema de Chamados */
    .call-panel > div:first-of-type b {
        font-size: 12em;
    }
    .call-panel > div:first-of-type p {
        font-size: 2em;
    }
    .call-indicators b {
        font-size: 6em;
    }
    /* Fim Sistema de Chamados */

    /* Chamados Fechados */
    #call-closed-by-type-is-6 h3,
    #call-closed-by-problem-is-6 h3,
    #call-distribution-by-departments-is-6 h3,
    #call-called-closure-region-is-6 h3 {
        font-size: 2em;
    }

    #call-called-closure-region {
        padding-bottom: 200px;
    }
    /* Fim Chamados Fechados */
}