/* Reset Bulma */
html.has-navbar-fixed-top {
    padding-top: 2em;
}

.table {
    margin: 0 auto;
}

.title {
    text-align: center;
    position: relative;
    z-index: 10;
}
/* Fim Reset Bulma */

/* Menu */
.navbar {
    box-shadow: 0 0 5px #000;
}
.navbar-burger span {
    background-color: #015374;
    height: 3px;
}
.navbar-burger {
    margin: 4% 0 0 40px;
}

div.navbar-menu .navbar-start {
    margin-left: 10%;
}

.navbar-item:not(:last-of-type) {
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, #fff 0, #fff 33%, #015374 33%, #015374 66%, #fff 66%, #fff 100%) 1 100%;
}

#call-print {
    position: absolute;
    right: 0;
    margin: 1% 13% 0 0;
}
#call-print i {
    font-size: 1.5em;
    cursor: pointer;
}
/* Fim Menu */

/* Main */
.container {
    max-width: 1280px;
}

main {
    width: 90%;
    margin: 5% auto 0;
}

/* Sistema de Chamados */
#call-by-day-title {
    padding-bottom: 1.5rem;
}
.call-title {
    color: #015374;
    border-bottom: 1px solid #015374;
    margin-bottom: 2%;
}

.call-panel > div:first-of-type {
    border: 1px solid #015374;
    border-radius: 5px;
}
.call-panel > div:first-of-type p:first-of-type {
    margin-top: 5%;
}
.call-panel > div:first-of-type p {
    color: #015374;
    display: block;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}
.call-panel > div:first-of-type p:last-of-type {
    margin-bottom: 5%;
}
.call-panel > div:first-of-type b {
    display: block;
    text-align: center;
    font-size: 6em;
    font-weight: 900;
    line-height: 1;
    cursor: pointer;
    color: #015374;
}

.call-indicators {
    color: #fff;
    margin: -4% 0 0 !important;
}
.call-indicators div:nth-of-type(1) {
    background-color: #015374;
    border-bottom-left-radius: 5px;
}
.call-indicators div:nth-of-type(2) {
    background-color: #AA4643;
    border-bottom-right-radius: 5px;
}
.call-indicators div p,
.call-indicators b {
    text-align: center;
}
.call-indicators b {
    display: block;
    font-size: 3em;
    line-height: 1;
}

.call-google-charts {
    width: 100%;
    min-height: 510px;
}
div.call-graphic-title.call-graphic-legend {
    position: relative;
    z-index: 1;
}
div.call-graphic-legend h3 {
    text-align: center;
}
div.call-graphic-legend h4 {
    text-align: center;
}
div.call-graphic-title .call-row-bottom {
    border-bottom: 1px solid #808080;
    padding-bottom: 2%;
}
div.call-graphic-legend > div:last-of-type {
    border: 1px solid #808080;
    border-radius: 10px;
    text-align: center;
    width: 35%;
    position: relative;
    z-index: 25;
    margin: -12% auto 6%;
}
div.call-graphic-legend > div:last-of-type p {
    display: inline-block;
    padding: 5px;
}
div.call-graphic-legend > div:last-of-type p:first-child:before,
div.call-graphic-legend > div:last-of-type p:last-child:before {
    content: 'legend';
    width: 30px;
    height: 20px;
    margin-right: 10px;
}
div.call-graphic-legend > div:last-of-type p:first-child:before {
    background-color: #015374;
    color: #015374;
}
div.call-graphic-legend > div:last-of-type p:last-child:before {
    background-color: #AA4643;
    color: #AA4643;
}

.call-graphic-title h3.title {
    margin-bottom: 0;
}

#call-graphic-comparation-is-12 {
    margin-top: -10%;
}
/* Fim Sistema de Chamados */

/* Qualidade do Atendimento */
#call-level-of-satisfaction-img,
#call-level-of-satisfaction-trigger-c,
#call-called-closed-img,
#call-called-closed-trigger-c,
#call-called-closure-region-img,
#call-called-closure-region-trigger-c,
#call-called-closure-region-license-text,
.zc-ref{
    display: none !important;
}

.call-container-graphic-title-zing-charts {
    padding: 0;
}
#call-quality-service-is-7 + .call-container-graphic-title-zing-charts {
    margin-top: -15%;
}
#call-quality-service-is-5,
#call-called-closed-is-5 {
    position: relative;
    z-index: 1;
    margin-top: -5%;
}
#call-called-closed-is-5 {
    margin-top: -15%;
}
#call-quality-service-is-7,
#call-called-closed-is-7 {
    position: relative;
    margin-top: 3%;
    z-index: 25;
}
#call-called-closed-is-7 {
    margin-top: -6%;
}
#call-zing-charts-quality-service,
#call-zing-charts-called-closed {
    position: absolute;
    top: 42%;
    left: 46%;
    color: #015374;
}
/* Fim Qualidade do Atendimento */

/* Chamados Fechados */
#call-closed-by-type-is-6 h3,
#call-closed-by-problem-is-6 h3,
#call-distribution-by-departments-is-6 h3,
#call-called-closure-region-is-6 h3 {
    font-size: 1.5em;
    text-align: center;
}

#call-closed-by-type,
#call-closed-by-problem {
    margin-top: -6%;
}

#call-distribution-by-departments-is-6,
#call-called-closure-region-is-6 {
    margin-top: -8%;
}
/* Fim Chamados Fechados */

/* Loading */
#call-loading-charts div.modal-content {
    height: 300px;
}

.call-loader {
    position: relative;
    top: 40%;
    margin: auto;
    border-radius: 50%;
    border-top: 16px solid #00b5de;
    border-right: 16px solid #4e216c;
    border-bottom: 16px solid #80c342;
    border-left: 16px solid #f26729;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Fim Loading */

/* Modal (Table) */
#call-table div.modal-card {
    width: calc(100vw - 200px);
}

.pagination {
    width: calc(100vw - 600px);
    margin: 0 auto;
}
/* Fim Modal (Table) */
/* Fim Main */

@media (min-width: 1024px) {
    /* Main */
    main {
        width: 80%;
    }

    /* Sistema de Chamados */
    .call-panel > div:first-of-type p:last-of-type {
        margin-bottom: 15%;
    }
    .call-indicators {
        margin: -7% 0 0 !important;
    }
    /* Fim Sistema de Chamados */

    /* Qualidade do Atendimento */
    #call-zing-charts-quality-service {
        left: 42%;
    }
    #call-zing-charts-called-closed {
        top: 42%;
        left: 42%;
    }

    #call-closed-by-type-is-6 h3,
    #call-closed-by-problem-is-6 h3,
    #call-distribution-by-departments-is-6 h3,
    #call-called-closure-region-is-6 h3 {
        text-align: left;
    }
    /* Fim Qualidade do Atendimento */

    /* Chamados Fechados */
    .call-container-closed {
        position: relative;
        z-index: 25;
        margin-top: -18%;
    }
    /* Fim Chamados Fechados */
    /* Fim Main */
}

@media (max-width: 1023px) {
    /* Menu */
    nav.navbar > div.navbar-brand,
    nav.navbar > div.navbar-menu {
        padding-top: 2%;
    }
    .navbar-burger {
        margin-top: 0;
    }
    .navbar-burger span {
        width: 48px;
        height: 6px;
        left: calc(50% - 22px);
    }
    .navbar-burger span:nth-child(1) {
        top: calc(50% - 21px);
    }
    .navbar-burger span:nth-child(2) {
        top: calc(50% - 9px);
    }
    .navbar-burger.is-active span:nth-child(1) {
        transform: translateY(19px) rotate(45deg);
    }

    span.icon i {
        font-size: 3em;
    }

    .navbar-menu div  a.navbar-item {
        font-size: 3em;
    }
    /* Fim Menu */

    /* Main */
    main {
        margin-top: 10%;
    }
    /* Fim Main */

    /* Sistema de Chamados */
    .call-panel > div:first-of-type b {
        font-size: 12em;
    }
    .call-panel > div:first-of-type p {
        font-size: 2em;
    }
    .call-indicators b {
        font-size: 6em;
    }
    /* Fim Sistema de Chamados */

    /* Qualidade do Atendimento */
    #call-level-of-satisfaction-title {
        padding-bottom: 2em;
    }

    #call-quality-service-is-7 {
        margin-top: -20%;
    }

    #call-quality-service-is-7 + .call-container-graphic-title-zing-charts {
        margin-top: 8%;
    }

    #call-called-closed-is-5 {
        margin-top: 3%;
    }

    #call-called-closed-is-7 {
        margin-top: -20%;
    }
    /* Fim Qualidade do Atendimento */

    /* Chamados Fechados */
    #call-closed-by-type-is-6 h3,
    #call-closed-by-problem-is-6 h3,
    #call-distribution-by-departments-is-6 h3,
    #call-called-closure-region-is-6 h3 {
        font-size: 2em;
    }

    #call-called-closure-region {
        padding-bottom: 100px;
    }
    /* Fim Chamados Fechados */
}

/* Ajustes no IE11 e Edge */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ie10up-first-div {
        margin-top: 3%;
    }

    .ie10up-legend {
        margin-top: -9% !important;
    }

    #call-table .modal-card,
    #call-loading-charts .modal-content {
        margin: 0 !important;
    }
}

@supports (-ms-ime-align:auto) {
    .edge-margin-charts {
        margin-top: 15%;
    }

    .edge-graphic-comparation-title {
        margin-top: -110px !important;
    }

    .edge-margin-charts-sla {
        margin-top: -130px !important;
    }

    .pagination-list li {
        list-style-type: none;
        color: transparent;
    }
}
/* Fim Ajustes no IE11 e Edge */