.call-no-print {
    display: none;
}

.call-print {
    display: block;
}

.call-page-break {
    page-break-before: always;
}

.call-print-exact {
    -webkit-print-color-adjust: exact;
}

.call-print-adjust-margin {
    margin-left: -5%;
}