.container {
    display: flex;
    align-items: center;
}

.container__img {
    max-width: 230px;
    animation: fadeInOut 1s linear infinite;
}

@keyframes fadeInOut {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}